@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
:root {
  --yellow:#f5bf23;
  --black:#111;
  --white:#fff;
  --light-color:#666;
  --light-bg:#eee;
  --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
  --border:.1rem solid rgba(0,0,0,.3);
}

body {
  zoom: 0.9;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background: transparent;
}
html::-webkit-scrollbar-thumb {
  background: var(--yellow);
}

section {
  padding: 5rem 10%;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  background: var(--black);
  color: var(--white);
  cursor: pointer;
  font-size: 1.7rem;
  text-transform: capitalize;
  transition: 0.2s linear;
}
.btn:hover {
  background: var(--yellow);
  color: var(--black);
  text-decoration: underline;
}

@-webkit-keyframes fadein {
  0% {
    top: 50%;
    opacity: 0;
  }
}

@keyframes fadein {
  0% {
    top: 50%;
    opacity: 0;
  }
}
.heading {
  margin-bottom: 2rem;
  font-size: 3rem;
  color: var(--black);
  text-transform: capitalize;
  padding-left: 1rem;
  border-left: 1rem solid var(--yellow);
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: var(--box-shadow);
  padding: 1rem 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  background: black;
}
.header .navbar a {
  font-size: 2rem;
  color: var(--black);
  text-transform: capitalize;
  margin: 0 1rem;
  color: var(--white);
}
.header .navbar a:hover {
  color: var(--yellow);
}
.header .icons div {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  color: var(--light-bg);
  cursor: pointer;
  margin-left: 0.3rem;
}
.header .icons div:hover {
  color: var(--yellow);
}
.header #menu-btn {
  display: none;
}
.header .search-form {
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  width: 70rem;
  background: var(--white);
  box-shadow: var(--box-shadow);
  padding: 1rem;
  display: none;
  align-items: center;
  gap: 1rem;
  -webkit-animation: fadeIn 0.2s linear;
          animation: fadeIn 0.2s linear;
}
.header .search-form.active {
  display: flex;
}
.header .search-form input {
  width: 100%;
  padding: 1.2rem 1.4rem;
  background: var(--light-bg);
  font-size: 1.6rem;
  color: var(--light-color);
}
.header .search-form label {
  font-size: 2.5rem;
  color: var(--black);
  cursor: pointer;
  margin: 0 1rem;
}
.header .search-form label:hover {
  color: var(--yellow);
}
.header .login-form {
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  width: 40rem;
  background: var(--white);
  box-shadow: var(--box-shadow);
  padding: 2rem;
  text-align: center;
  -webkit-animation: fadeIn 0.2s linear;
          animation: fadeIn 0.2s linear;
  display: none;
}
.header .login-form.active {
  display: block;
}
.header .login-form h3 {
  font-size: 3rem;
  color: var(--black);
  text-transform: capitalize;
  padding-bottom: 1rem;
  text-transform: uppercase;
}
.header .login-form .box {
  width: 100%;
  padding: 1.2rem 1.4rem;
  background: var(--light-bg);
  font-size: 1.6rem;
  color: var(--light-color);
  margin: 0.7rem 0;
}
.header .login-form .flex {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
.header .login-form label {
  font-size: 1.5rem;
  color: var(--light-color);
  cursor: pointer;
}
.header .login-form a {
  font-size: 1.5rem;
  color: var(--light-color);
  margin-left: auto;
}
.header .login-form a:hover {
  color: var(--yellow);
  text-decoration: underline;
}
.header .btn {
  width: 100%;
}
.header p {
  font-size: 1.5rem;
  color: var(--black);
  line-height: 1.2;
  padding-top: 1rem;
}
.header p a {
  color: var(--yellow);
}
.header p a:hover {
  text-decoration: underline;
}

.contact-info {
  position: fixed;
  top: 0;
  right: 0;
  width: 30rem;
  background: var(--white);
  height: 100%;
  text-align: center;
  z-index: 1100;
  padding: 0 2rem;
  padding-top: 0.5rem;
  display: none;
}
.contact-info.active {
  box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7);
  display: block;
}
.contact-info #close-contact-info {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  cursor: pointer;
  font-size: 2rem;
}
.contact-info #close-contact-info:hover {
  transform: rotate(90deg);
}
.contact-info .info i {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  color: var(--black);
  cursor: pointer;
  margin-bottom: 0.1rem;
}
.contact-info .info i:hover {
  color: var(--yellow);
}
.contact-info .info h3 {
  font-size: 2rem;
  color: var(--black);
  text-transform: capitalize;
  padding: 1rem 0;
}
.contact-info .info p {
  font-size: 1.5rem;
  color: var(--black);
  text-transform: capitalize;
}
.contact-info .share {
  padding-top: 0.2rem;
  border-top: var(--border);
  margin-top: 1rem;
}
.contact-info .share a {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  color: var(--black);
  cursor: pointer;
  margin: 0 0.3rem;
}
.contact-info .share a:hover {
  color: var(--yellow);
}

.home {
  padding: 0;
}
.home .slide {
  min-height: 60rem;
  display: flex;
  align-items: center;
  position: relative;
  background-size: cover !important;
  background-position: center !important;
}
.home .slide .content {
  width: 50rem;
  position: relative;
}
.home .slide .content h3 {
  font-size: 6rem;
  color: var(--black);
  text-transform: capitalize;
  text-transform: uppercase;
  color: #0f52ba;
}
.home .slide .content p {
  font-size: 1.5rem;
  color: var(--black);
  line-height: 1.2;
  padding: 1rem 0;
}

padding {
  background: color black;
  text-align: center;
}

.about .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}
.about .row .video {
  flex: 1 1 41rem;
}
.about .row .video video {
  width: 100%;
}
.about .row .content {
  flex: 1 1 41rem;
}
.about .row .content h3 {
  font-size: 3rem;
  color: var(--black);
  text-transform: capitalize;
}
.about .row .content p {
  font-size: 1.5rem;
  color: var(--black);
  line-height: 1.2;
  padding: 1rem 0;
}
.about .box-container {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 2rem;
  align-items: flex-end;
}
.about .box-container .box {
  text-align: center;
  background: var(--light-bg);
  padding: 3rem 2rem;
}
.about .box-container .box h3 {
  font-size: 4rem;
  color: var(--black);
  text-transform: capitalize;
}
.about .box-container .box p {
  font-size: 1.5rem;
  color: var(--black);
  line-height: 1.2;
  padding-top: 0.5rem;
}

.services {
  background: var(--light-bg);
}
.services .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}
.services .box-container .box {
  text-align: center;
  padding: 3rem;
  background: var(--white);
  box-shadow: var(--box-shadow);
  border: var(--border);
}
.services .box-container .box:hover img {
  transform: translateY(-1rem);
  transition: 0.2s linear;
}
.services .box-container .box img {
  height: 7rem;
  margin-bottom: 0.5rem;
}
.services .box-container .box h3 {
  font-size: 2rem;
  color: var(--black);
  text-transform: capitalize;
  padding: 1rem 0;
}
.services .box-container .box p {
  font-size: 1.4rem;
  color: var(--black);
  line-height: 1.2;
}

.projects .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  gap: 2rem;
}
.projects .box-container .box {
  cursor: initial;
}
.projects .box-container .box:hover .image img {
  transform: scale(1.1);
  transition: 0.2s linear;
}
.projects .box-container .box .image {
  height: 30rem;
  overflow: hidden;
}
.projects .box-container .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.projects .box-container .box .content {
  display: flex;
  justify-content: space-between;
}
.projects .box-container .box .content .info {
  padding: 1rem 2rem;
}
.projects .box-container .box .content .info h3 {
  font-size: 1.7rem;
  color: var(--black);
  text-transform: capitalize;
}
.projects .box-container .box .content .info p {
  font-size: 1.5rem;
  color: var(--black);
  line-height: 1.2;
}
.projects .box-container .box .content i {
  width: 6rem;
  font-size: 3rem;
  background-color: var(--black);
  color: var(--yellow);
  text-align: center;
  line-height: 7.5rem;
}

.reviews .slide p {
  padding: 1.5rem;
  background: var(--light-bg);
  position: relative;
  margin-bottom: 3rem;
  margin-right: 3rem;
  font-size: 1.5rem;
  color: var(--black);
  line-height: 1.2;
}
.reviews .slide p:before {
  content: "";
  position: absolute;
  bottom: -1rem;
  left: 2rem;
  height: 2rem;
  width: 2rem;
  background: var(--light-bg);
  transform: rotate(45deg);
}
.reviews .slide .user {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.reviews .slide .user img {
  height: 7rem;
  width: 7rem;
}
.reviews .slide .user h3 {
  font-size: 1.7rem;
  color: var(--black);
  text-transform: capitalize;
}
.reviews .slide .user .stars {
  padding-top: 0.5rem;
}
.reviews .slide .user .stars i {
  font-size: 1.5rem;
  color: var(--yellow);
}

.pricing {
  background-color: var(light--bg);
}
.pricing .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}
.pricing .box-container .box {
  background: var(--white);
  text-align: center;
  padding: 2rem;
  border: var(--border);
  box-shadow: var(--box-shadow);
}
.pricing .box-container .box i {
  font-size: 3rem;
  height: 7rem;
  width: 7rem;
  line-height: 7rem;
  border-radius: 50%;
  margin-bottom: 2rem;
  background: var(--yellow);
  color: var(--black);
}
.pricing .box-container .box h3 {
  font-size: 2rem;
  color: var(--black);
  text-transform: capitalize;
  font-weight: normal;
}
.pricing .box-container .box .price {
  padding: 1rem 0;
  font-size: 5rem;
  color: var(--black);
  text-transform: capitalize;
}
.pricing .box-container .box .price span {
  font-size: 2rem;
}
.pricing .box-container .box .list {
  padding: 1rem 0;
}
.pricing .box-container .box .list p {
  padding: 1rem 0;
  font-size: 1.4rem;
  color: var(--black);
  text-transform: capitalize;
}

.contact {
  background-color: var(--light-bg);
}
.contact .row {
  display: flex;
  gap: 2em;
}
.contact .row .map {
  flex: 1 1 31rem;
  width: 70%;
}
.contact .row form {
  flex: 1 1 41rem;
  padding: 2rem;
  text-align: center;
  background: var(--white);
}
.contact .row form h3 {
  font-size: 2.5rem;
  color: var(--black);
  text-transform: capitalize;
}
.contact .row form .box {
  margin: 0.7rem 0;
  width: 80%;
  padding: 1.5rem 0;
  background: var(--white);
  border-bottom: var(--border);
  font-size: 1.6rem;
  color: var(--light-color);
}
.contact .row form .box:focus {
  border-color: var(--yellow);
}
.contact .row form textarea {
  height: 15rem;
  resize: none;
}

.blogs {
  background: var(--light-bg);
  text-align: center;
}
.blogs:hover .image img {
  transform: scale(1.1);
}
.blogs .slide {
  width: 35rem;
  margin-right: 2rem;
  text-align: center;
}
.blogs .slide .image {
  height: 25rem;
  width: 90%;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: -3rem;
}
.blogs .slide .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.2s linear;
}
.blogs .slide .content {
  padding: 1rem;
  padding-top: 5rem;
  background: var(--white);
  box-shadow: 0 1rem 1.5rem 0 rgba(0, 0, 0, 0.2);
}
.blogs .slide .content h3 {
  font-size: 2rem;
  color: var(--black);
  text-transform: capitalize;
}
.blogs .slide .content p {
  padding: 1rem 0;
  font-size: 1.4rem;
  color: var(--black);
  line-height: 1.2;
}

.logo-container {
  text-align: center;
}
.logo-container:hover .imgs {
  transform: translateY(-1rem);
  transition: 0.2s linear;
}
.logo-container img {
  height: 5rem;
}

/* General styles for smaller screens */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 1rem 2rem;
    flex-direction: column;
    align-items: flex-start;
  }

  .header .navbar {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .header .navbar a {
    margin: 0.5rem 0;
  }

  .header .icons {
    margin-top: 1rem;
  }

  .contact-info {
    width: 100%;
    padding: 2rem 1rem;
  }

  .home .slide .content {
    width: 100%;
    text-align: center;
  }

  .about .row {
    flex-direction: column;
  }

  .services .box-container,
  .projects .box-container,
  .reviews .slide,
  .pricing .box-container,
  .blogs .slide {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }

  .contact .row {
    flex-direction: column;
    align-items: center;
  }

  .contact .row .map,
  .contact .row form {
    width: 100%;
  }
}

/* Further adjustments for very small screens */
@media (max-width: 600px) {
  .header {
    padding: 0.5rem 1rem;
  }

  .home .slide {
    min-height: 40rem;
  }

  .home .slide .content h3 {
    font-size: 4rem;
  }

  .home .slide .content p,
  .about .row .content p,
  .services .box-container .box p,
  .projects .box-container .box .content .info p,
  .contact .row form .box,
  .blogs .slide .content p {
    font-size: 1.3rem;
  }

  .btn {
    padding: 0.8rem 2rem;
    font-size: 1.5rem;
  }

  .contact .row form h3 {
    font-size: 2rem;
  }
}




@media (max-width: 1200px) {
  .header {
    padding: 1.5rem 2rem;
  }
  section {
    padding: 3rem 5%;
  }
}
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  section {
    padding: 3rem 2rem;
  }
}
@media (max-width: 991px) and (max-width: 768px) {
  .header .search-form {
    width: 90%;
  }
  .header .login-form {
    width: 90%;
  }
  .home .slide {
    justify-content: center;
  }
  .home .slide .content {
    justify-content: center;
  }
  .home .slide .content h3 {
    font-size: 2rem;
  }
}
@media (max-width: 991px) and (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 991px) {
  .header #menu-btn {
    display: inline-block;
  }
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: var(--light-color);
    border-top: var(--border);
    border-bottom: var(--border);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: 0.2s linear;
  }
  .header .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .navbar a {
    display: block;
    margin: 2rem;
  }

   form .form-group {
    min-width: 100%; /* Make each form element take full width */
  }
}/*# sourceMappingURL=style.css.map */


.


